<div class="p-5 rounded-5 custom-input bg-light mb-5">
  <%= form_with model: [chat, Message.new], local: true do |f| %>
    <%= render "chats/common_message_form", message_form: f %>
  <% end %>
</div>
