<div class="p-5 rounded-5 custom-input bg-light mb-5">
  <%= form_with(model: @chat, local: true) do |f| %>
    <%= f.fields_for :messages do |message_form| %>
      <%= render "chats/common_message_form", message_form: message_form %>
    <% end %>
  <% end %>
</div>
