$bg-color-left-column: #f8f9fa;
$bg-color-right-column: #e9ecef;
$border-left-column: #dee2e6;

.left-column {
  background-color: $bg-color-left-column;
  border-right: 1px solid $border-left-column;
  min-height: 100vh;
  width: 300px;
}

.right-column {
  background-color: $bg-color-right-column;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-gutters > [class^="col-"],
.no-gutters > [class*=" col-"] {
  padding-left: 0;
  padding-right: 0;
}

.custom-input {
  width: 700px;
}

textarea {
  overflow: hidden;
  resize: none;
}

.bg-blue-200 {
  background-color: $blue-200;
}

.bg-green-200 {
  background-color: $green-200;
}

.bg-orange-200 {
  background-color: $orange-200;
}

.chats {
  max-height: 600px;
}

.custom-title {
  color: $blue-800;
}

.todo-item {
  max-width: 300px;
}
